.home {
  display: flex;
}
.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.filters {
  background-color: pink;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 86vh;
  margin: 10px;
}
.filters > span {
  padding-bottom: 20px;
}
.title {
  font-size: 30px;
}
